
body {
  margin: 0;
  background-color: grey;
}

.remove-btn {
  margin-right: 1em;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-enter-exit {
  opacity: 1;
}

.fade-enter-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}